.crs-intro h4{
	margin-bottom:0.6rem;
}
.crs-intro .chosen-drop .chosen-results {
    max-height: 140px;
}
.crs-intro .chosen-disabled .chosen-single {
    cursor: not-allowed;
}
.choose-com-disabled{
	cursor: not-allowed;
	color:#ccc;
}
.crs-head-1{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.crs-head-2{
	font-size: 28px;
	font-weight: bold;
	color: #457545;
	text-align: center;
	line-height: 1.25;
}
.crs-head-3{
	font-size: 19px;
	font-weight: bold;
	padding:0 10px;
	text-align: center;
	color:#457545;
}
.crs-head-4{
	font-size: 14px;
	font-weight: bold;
	padding:0 20px;
	text-align: center;
}
.choose_community_wrap{
	/*display: none;*/
}
.comNotListed{
	position: absolute; 
	bottom: 0px; 
	left: 10px; 
	cursor: pointer; 
	color: blue; 
	font-size: 15px; 
	width: 226px; 
	margin: 0 50px;
}
.slider-wrap{
	display: inline-flex;
}
.slider-nums{
	min-width: 70px;
    margin-top: -2px;
    color: #457545;
    font-weight: bold;
    font-size: 14px;
}
.slider-nums-left{
	text-align: right;
}
.slider-nums-right{
	margin-left:5px;
}
.infoIcon{
	margin-bottom:-2px; 
	margin-left:3px;
	cursor:pointer;
}
.hide{
	display:none;
}
.crs-wrap{
	position: relative;
	padding: 10px 20px 30px 10px;
}
.trans-wrap{
	display:flex;
	margin: 8px 20px;
}
.trans-wrap .slider-container{
	margin:4px 10px;
}
.trans-label{
	font-size:12px;
}
.icons{
	position: absolute;
	top: 0px;
	font-size: 25px;
    color: #0096D6;
}
.backArrow{
	left: 7px;
}
.infoIcon{
	right: 7px;
}
.icons:hover{
	cursor: pointer;
	color: #0072a3;
}
.icons:active{
	color: #0096D6;
}
.crs-wrap .range-slider .ui-widget-header{
	background: #e6f0e6;
}
.crs-wrap .ui-widget.ui-widget-content {
    border: 1px solid #949494;
}
.crs-wrap .slider-container .ui-state-default, .crs-wrap .slider-container .ui-widget-content .ui-state-default, .crs-wrap .slider-container .ui-widget-header .ui-state-default {
    background: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0)) 0 no-repeat,50% no-repeat #008476 !important;
}
.exportTable-wrap{
	text-align: center;
	margin-top:20px;
}
.sliderInstr{
	padding: 10px 0 5px; 
	font-weight: bold;
}
.taxval-wrap{
	display: none; 
	margin-top:3px;
}
/* bar chart */
.chart {
	overflow: hidden;
	width: 280px;
	border: 1pt solid #294529;
}
.block {
	display: block;
	height: 18px;
	color: #fff;
	font-size: .75em;
	float: left;
	background-color: #A8D900;
	position: relative;
	overflow: hidden;
	opacity: 1;
}
.block:nth-of-type(2),
.legend li:nth-of-type(2):before {
	background-color: #008476;
}
.block:nth-of-type(3),
.legend li:nth-of-type(3):before {
	background-color: #f0f0f0;
}
.value {
	display: block;
	line-height: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}
.bar-ticks{
	width:280px;
	display:flex;
}
.bar-ticks div:nth-of-type(1){
	width:70px;
	height: 4px;
	border-left:1pt solid #888;
	border-right:1pt solid #888;
}
.bar-ticks div:nth-of-type(2){
	width:67px;
	height: 4px;
	border-right:1pt solid #888;
}
.bar-ticks div:nth-of-type(3){
	width:67px;
	height: 4px;
	border-right:1pt solid #888;
}
.bar-ticks div:nth-of-type(4){
	width:76px;
	height: 4px;
	border-right:1pt solid #888;
}
.bar-labels{
	width:300px;
	margin:0 0 -3px -3px;
	display: flex;
	font-size: 11px;
}
.bar-labels div:nth-of-type(1){
	width:62px;
}
.bar-labels div:nth-of-type(2){
	width:61px;
}
.bar-labels div:nth-of-type(3){
	width:68px;
}
.bar-labels div:nth-of-type(4){
	width:73px;
}
.bar-legend{
	display: flex;
	align-items: center;
}
.bar-legend div:nth-of-type(1){
	width: 13px;
	height: 13px;
	background: #A8D900;
	border: 1pt solid #294529;
	margin-right:3px;
}
.bar-legend div:nth-of-type(3){
	width: 13px;
	height: 13px;
	background: #008476;
	border: 1pt solid #294529;
	margin-right:3px;
	margin-left:14px;
}
